@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
background-color: #F0F2F5;
}

.nav-bar{
    background-color: #FFF;
    display: flex;
    height: 60px;
    margin: 0;
    padding: 0 1%;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav-bar .left{
    display: flex;
}
.searchDiv{
    background-color: #F0F2F5;
    width: 250px;
    border-radius: 20px;
    height: 40px;
    margin-top: 10px;
}

.searchDiv input{
    background-color: #F0F2F5;
    margin-top: 10px;
    border: none;
    }
    .searchDiv input:focus{
        outline: none;
    }
.searchDiv i{
    margin-left: 15px;
   
}

.iconDiv{
    margin-top: 6px;
    font-size: 42px;
    margin-right: 10px;
    color: #0572E6;
}

.pageWrapper{
    display: flex;
    width: 500px;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 40%;

}
.pageWrapper .page{
    font-size: xx-large;
}
.material-symbols-outlined {
    font-size: xx-large;
    color: gray;
  }


  .page{
    cursor: pointer;
    width: 85px;
    height: 46px;
    border-radius: 8px;
    text-align: center;
    margin-top: 0px;
  }
  .page:hover{
    background-color: #f0f0f0;
  }
  .page > span {
    margin-top: 4px;
  }

  .active{
    color: #1B74E4;
    border-bottom: 3px solid #1B74E4;
    height: 47px;  
  }
  .activePage:hover{

    background-color: #FFF;
    
  }
  .nav-bar .right{
    position: absolute;
    right: 0;
  }

  .nav-bar .right .options{
  display: flex;
  width: 200px;
  font-size: 25px;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 30px;
  }

  .options .option{
    background-color: #F0F2F5;
    border-radius: 50%;
    padding: 7px;
    width: 30px;
    height: 30px;
  }

  .menu-icon{
    width: 30px;
  }
  .options .menu{
    width: 30px;
    height: 30px;
  }

  .option i{
    margin-left: 3px;
  }

  .options .option:hover{
    background-color: #cacbcb;
    cursor: pointer;
  }

  /* Container */

  .container{
    display: flex;
  }
  .lists{
    list-style: none;
    padding-left: 10px;
  } 
.list{
  display: flex;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  
}
.list:hover{
  background-color: #E4E6E9;
}

.list .right,.list .left{
  margin-top: 5px;
}

.list .left{
  margin-left: 5px;
}
  .list_logo{
    border-radius: 50%;
    font-size: 30px;
    color: #080808;
    width: 36px;
  }
  .list_name{
    font-weight: 500;
    margin: 10px 0 0 10px;
  }
  .avatar_img{
    width: 38px;
    height: 38px;
  }
  .down_icon{
    background-color: #92939625;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
  .material-symbols-outlined{
    color: black;
    margin: 1px 1px 0 -1px;
  }

  /* Stories */


  .stories{
    width: 700px;
    height: 300px;
    background-color: #FFF ;
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 10px;
  }




  /* New Post */
  .new_post{
    width: 700px;
    height: 130px;
    background-color: #FFF ;
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 10px;
  }

  /* Feed Post */

  .feed_post{
    height: 820px;
    background-color: #FFF ;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 300px;
    
  }